<%- include('header.ejs') %>
<div class="row" >
  <footer id="admin-footer" class="clearfix">
    <div class="pull-left"><b>copy</b>&copy;2019</div>
    <div class="pull-right">admin system</div>
  </footer>
</div>
<%- include('footer.ejs') %>