<%- include('header.ejs') %>
<div class="container">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum exercitationem vitae totam veniam, est aliquam! Autem, dolore velit voluptas corporis facilis dolorem totam tempore molestiae perspiciatis nostrum, sed officiis repudiandae.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolores quibusdam, cum ullam corrupti soluta optio exercitationem! Reiciendis obcaecati, vel tenetur beatae reprehenderit, inventore sit in alias, doloribus animi ex impedit!</p>
    
</div>
<%- include('footer.ejs') %>